node_modules/
.env
.env.local
.env.*.local
.DS_Store
database.sqlite
*.log


# Flutter/Dart
.dart_tool/
.build/
*.iml
.android/
.ios/
.cxx/
.flutter-plugins
.flutter-plugins-dependencies
.gradle/
.idea/
build/
.dart_tool/
.flutter-plugins-dependencies
**/android/*.iml
**/ios/*.iml
